#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container h1 {
    font-size: 25px;
    line-height: 26px;
}

#form {
    width: 75%;
}

.centered-input {
    display: flex;
    justify-content: center;
}

.centered-text {
    text-align: center;
}

