#transaction-item{
    box-sizing: border-box;
    border-radius: 22px;
    background-color: #fff;
    margin-top: 12px;
    padding: 15px;
    height: 75px;
    color:#000;
}


#transaction-item {
    display: flex;
}
  
  #left {
    display: flex;
    align-items: center;
  }
  
  #right {
    margin-left: auto;
    margin-right: 5px;
  }
  
  #left-item{
    margin-left: 8px;
  }
  #date{
    text-align: right;
    color:#acacac;
  }
  #icon{
    font-size: 20px;
  }


  #container-title{
    padding-bottom: 5px;
  }